h1= t('main title')
p= t('main description')

form
    label= t('form title label')  + ':'
    input(type="text", name="title")
    label= t('form url label') + ':'
    input(type="text", name="url")
    input(id="add-bookmark", type="submit", value="#{t('form submit button')}")

ul